h1{font-size: 30px; color: black;}
h3{font-size: 20px; color: red;}

/*環境*/
.environment{
    display: flex;
    width:100%;
    padding: 10px;
}
.environment div{
    padding: 10px;
}
.environment form{
    margin: 10px;
}
/*サブ環境*/
.sub-environment{
    display: flex;
}
.sub-environment label{
    margin-left: 30px;
    width: 100%;
    font-size: 17px;
}
/*わざ*/
@media (min-width:520px) {
    .moves{
        display: flex;
    }
    #move1{
        width: 33%;
    }
    #move2{
        width: 33%;
    }
    #move3{
        width: 33%;
    }
}
.moves form{
    background-color: rgb(182, 255, 153);
    padding: 10px;
    margin: 5px;
}

/*ポケモン*/
.poke-name{
    width: 90px;
}
#form1{
    background-color: rgb(255, 197, 149);
    padding: 10px;
    margin: 5px;
}
.options{
    font-size: 15px;
}

#form2{
    background-color: rgb(142, 246, 250);
    padding: 10px;
    margin: 5px;
}
table{
    border: none;
    border-collapse: separate;
    table-layout: auto;
    width: 100%;
    text-align: center;
}
@media (min-width:1260px) {
    .pokemon{
        display: flex;
    }
    #form1{
        width: 50%;
    }
    #form2{
        width: 50%;
    }
}

/*環境のラジオボタン*/
input[type="radio"]{
    display: none;  /* ラジオボタンを非表示にする */
}
input[type="radio"]:checked + label{
    background: gray;
}
.label:hover{
    background-color: darkgrey;
}
.label{
    display: block; /*ブロックレベル要素か*/
    float:left;
    font-size: 15px;
    width: 60px;
    height: 25px;
    padding: 5px;
    text-align: center;
    margin: 0px; /*ラベル外側の余白*/
    border: 2px solid black; /*ラベルの境界線*/
}

/*フッター*/
footer{
    border-top: solid 1px lightgray;
    text-align: center;
}